SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_JWT_SECRET=
# Пароль админа: плейнтекст или bcrypt-хэш (рекомендуется).
# Хэш: node -e "require('bcryptjs').hash('ВАШ_ПАРОЛЬ',10).then(h=>console.log(h))"
ADMIN_PASSWORD=
